node_modules
public
googlesheets
content/schools/
content/categories/
content/subcategories/
content/courses/
content/categoriesathens/
content/subcategoryathens/
content/categoriesthess/
content/subcategorythess/
data/yml/categories/
data/yml/categoriesathens/
data/yml/categoriesthess/
data/yml/subcategories/