apturl==0.5.2
asn1crypto==0.24.0
attrs==18.1.0
Automat==0.6.0
Brlapi==0.6.4
cachetools==2.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
command-not-found==0.3
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
decorator==4.0.6
defer==1.0.6
google-api-python-client==1.7.3
google-auth==1.5.0
google-auth-httplib2==0.0.3
gspread==3.0.0
httplib2==0.11.3
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
indicator-sound-switcher===2.1.1ubuntu0
language-selector==0.1
lightdm-gtk-greeter-settings==1.2.1
louis==2.6.4
lxml==4.2.1
Mako==1.0.3
MarkupSafe==0.23
mate-tweak==3.5.10
numpy==1.14.4
oauth2client==4.1.2
onboard==1.2.0
pandas==0.23.0
parsel==1.4.0
pathspec==0.5.5
pexpect==4.0.1
Pillow==3.1.2
polib==1.0.7
psutil==3.4.2
ptyprocess==0.5
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
PyDispatcher==2.0.5
pygobject==3.20.0
pyOpenSSL==18.0.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-dateutil==2.7.3
python-debian==0.1.27
python-systemd==231
pytz==2018.4
pyxdg==0.25
PyYAML==3.12
queuelib==1.5.0
reportlab==3.3.0
requests==2.18.4
rsa==3.4.2
scipy==0.17.0
Scrapy==1.5.0
service-identity==17.0.0
sessioninstaller==0.0.0
setproctitle==1.1.8
six==1.11.0
Twisted==18.4.0
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
uritemplate==3.0.0
urllib3==1.22
usb-creator==0.3.0
virtualenv==15.0.1
visidata==1.1
w3lib==1.19.0
xkit==0.0.0
yamllint==1.10.0
zope.interface==4.5.0
