{{ define "main" }}
<h2 class="col-xs-12 col-sm-8 col-md-9 p-6">{{ .Title }}</h2>

<div class="taxonomy-filters col-xs-12 col-sm-8 col-md-9 p-6 float-right"> 
  <ul class="filters-menu list-reset flex flex-wrap justify-start">
{{ $.Scratch.Set "counter" 0 }}
{{ range  .Data.Pages }}
{{ if in .Params.Cities  "Αθήνα" }}
{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
{{ end }}
{{ end }}

{{ $.Scratch.Set "counter1" 0 }}
{{ range  .Data.Pages }}
{{ if in .Params.Cities  "Θεσσαλονίκη" }}
{{ $.Scratch.Set "counter1" (add ($.Scratch.Get "counter1") 1) }}
{{ end }}
{{ end }}


  {{ $title := .Params.slug }}

  {{ if gt ($.Scratch.Get "counter") "0"}}
   <li class="flex m-2">
      {{ $url := printf "%s/%s" "categoriesathens" ($title | urlize | lower)}}
      <a class="category-list-link bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded hover:no-underline hover:text-white" href="{{ $url | absURL }}">
          Αθήνα - {{ $.Scratch.Get "counter" }}
      </a>
    </li>
    {{ else }}
    <li class="flex m-2">
      <a class="category-list-link bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded opacity-50 cursor-not-allowed hover:no-underline" href="">
          Αθήνα - {{ $.Scratch.Get "counter" }}
      </a>
    </li>
  {{ end }}

{{ if gt ($.Scratch.Get "counter1") "0"}}
  <li class="flex m-2">
  {{ $url := printf "%s/%s" "categoriesthessaloniki" ($title | urlize | lower)}}
  <a class="category-list-link bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded hover:no-underline hover:text-white" href="{{ $url | absURL }}">
      Θεσσαλονίκη - {{ $.Scratch.Get "counter1" }}
  </a>
</li>
  {{ else }}
   <li class="flex m-2">

  <a class="category-list-link bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded opacity-50 cursor-not-allowed hover:no-underline" href="">
      Θεσσαλονίκη - {{ $.Scratch.Get "counter1" }}
  </a>
</li>
{{ end }}




  </ul>
</div>

<div class="taxonomy-filters col-xs-12 col-sm-8 col-md-9 p-6 float-right"> 
  <ul class="filters-menu list-reset flex flex-wrap justify-start">
    {{ range $title, .Params.slugSubcategory }}
      {{ $subcategory := index $.Site.Data.yml.subcategories ($title) }}
      {{ if eq $subcategory.schoolscount "0" }}
      <li class="flex m-2">
        {{ $url := printf "%s/%s" "subcategories" ($title | urlize | lower)}}
        <a class="category-list-link bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded opacity-50 cursor-not-allowed hover:no-underline" href="">
            {{ $subcategory.title }}
            <span>( {{ $subcategory.schoolscount }} )</span>
        </a>
      </li>
      {{ else }}
        <li class="flex m-2">
        {{ $url := printf "%s/%s" "subcategories" ($title | urlize | lower)}}
        <a class="category-list-link bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded hover:no-underline hover:text-white" href="{{ $url | absURL }}">
            {{ $subcategory.title }}
            <span>( {{ $subcategory.schoolscount }} )</span>
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
</div>

{{ $paginator := (.Paginator 30) (.Data.Pages) }}

{{ partial "pagination.html" . }}



<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
        {{ range $paginator.Pages }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
              <div class="box-masonry shadow-md">
                   <a href="{{ .Permalink }}" title="" class="rounded box-masonry-image with-hover-overlay with-hover-icon">
                      <img class="rounded" src="/images/{{ .Params.UID }}/{{ .Params.UID }}-cover.jpg" alt="" class="img-responsive">
                    </a>
                  <div class=" bg-white rounded bpx-6 py-4">
                        <div class="font-bold text-2xl mb-2 px-6 py-4">
                          <a class="text-grey-darkest" href="{{ .Permalink }}">
                          	{{ $pairs := (dict "ά" "α" "έ" "ε" "ή" "η" "ί" "ι" "ό" "ο" "ώ" "ω" "Ά" "Α" "Έ" "Ε" "Ή" "Η" "Ί" "Ι" "Ό" "Ο" "Ώ" "Ω") }}{{ $.Scratch.Set "specialTitle" .Title }}{{ range $key, $val := $pairs }}{{ $.Scratch.Set "specialTitle" (replace ($.Scratch.Get "specialTitle") $key $val) }}{{ end }}{{ $.Scratch.Get "specialTitle" }}
                          </a>
                        </div>
                        <div class="px-6 py-4">
                        {{ range .Params.cities }}
                          <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/cities/{{ . | urlize }}">{{ . }}</a> </span>
                        {{ end }}
                          {{ range $title := .Params.categories }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker">
                              <a class="text-grey-darkest" href="/categories/{{ . | urlize }}">
                                {{ $category := index $.Site.Data.yml.categories ($title) }}
                                {{ $category.title }}
                              </a>
                            </span>
                          {{ end }}
                        {{ if .Params.subcategories }}
                          {{ range $title := .Params.subcategories }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/subcategories/{{ . | urlize }}">
                              {{ $subcategory := index $.Site.Data.yml.subcategories ($title) }}{{ $subcategory.title }}</a>
                              </span>
                          {{ end }}
                        {{ end }}
                        {{ if .Params.longitude }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker">map available</span>
                        {{ end }}
                        </div>

                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
     "itemListElement": [
      {{ $pageurl := .Permalink }}
      {{ $list := .Pages}}
      {{ $len := (len $list)}}
      {{ range $index, $element := $list }}
        {
          "@type": "ListItem",
          "position": "{{$index}}",
          "item": {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "{{trim .Title "\n"}}",
            "url": "{{  $pageurl }}",
            "image": "https://activekoala.com/images/{{ .Params.UID }}/{{ .Params.UID }}-cover.jpg"
          }
        }{{if eq (add $index 1) $len}}{{else}},{{end}}
      {{ end }}
      ]
    }
</script>
{{ end }}