{{ define "main" }}

{{ partial "categories/hero.html" . }}

<!-- <div class="taxonomy-filters col-xs-12 col-sm-12 col-md-12 p-6 float-right"> 
     {{ if isset .Site.Taxonomies "categories" }}
             <ul class="filters-menu list-reset flex flex-wrap justify-start">
                  {{ $.Scratch.Set "counter" 0 }}
                  {{ range $title, $items := .Site.Taxonomies.categories }}
                  {{ if eq $title "#n/a" }}
                   {{ else }}
                  <li class="flex m-2">
                      {{ $url := printf "%s/%s" "categories" ($title | urlize | lower)}}
                        <a class="category-list-link bg-transparent hover:bg-gray-100  py-2 px-4 border border-blue hover:border-blue-700  hover:no-underline rounded " href="{{ $url | absURL }}">
                        {{ (index $.Site.Data.yml.categories ($title)).title }}
                        <span class="text-grey">({{ len $items }})</span>
                      </a>
                  </li>
                  {{ end }}
                  {{ end }}
              </ul>
    {{ end }}
</div>
 -->





{{ $paginator := (.Paginator 30) (.Data.Pages) }}




<div class="col-xs-12 col-sm-12 col-md-12 border-gray-200 border-solid border-t">
  <div class="row">
<!--  -->
<!-- SIDEBAR -->
<!--  -->
<div class="col-xs-3 col-sm-3 col-md-3 sidebar-column flex flex-col">

<!-- CITIES -->


  <ul class="filters-menu list-reset flex flex-wrap align-start mb-6">
      <div class="category-title py-2 px-4  text-3xl font-medium py-4 text-blue-700 w-full ">Πόλεις</div>
      {{ $.Scratch.Set "counter" 0 }}
      {{ range  .Data.Pages }}
      {{ if in .Params.Cities  "Αθήνα" }}
      {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
      {{ end }}
      {{ end }}

      {{ $.Scratch.Set "counter1" 0 }}
      {{ range  .Data.Pages }}
      {{ if in .Params.Cities  "Θεσσαλονίκη" }}
      {{ $.Scratch.Set "counter1" (add ($.Scratch.Get "counter1") 1) }}
      {{ end }}
      {{ end }}


  {{ $title := .Params.slug }}

  {{ if gt ($.Scratch.Get "counter") "0"}}
   <li class="flex m-2">
      {{ $url := printf "%s/%s" "categoriesathens" ($title | urlize | lower)}}
      <a class="category-list-link bg-transparent hover:bg-gray-100  py-2 px-4 border border-blue hover:border-blue-700  hover:no-underline rounded  " href="{{ $url | absURL }}">
          Αθήνα - {{ $.Scratch.Get "counter" }}
      </a>
    </li>
    {{ else }}
    <li class="flex m-2">
      <a class="category-list-link bg-transparent hover:bg-gray-100  py-2 px-4 border border-blue hover:border-blue-700  hover:no-underline rounded " href="">
          Αθήνα - {{ $.Scratch.Get "counter" }}
      </a>
    </li>
  {{ end }}

{{ if gt ($.Scratch.Get "counter1") "0"}}
  <li class="flex m-2">
  {{ $url := printf "%s/%s" "categoriesthess" ($title | urlize | lower)}}
  <a class="category-list-link bg-transparent hover:bg-gray-100  py-2 px-4 border border-blue hover:border-blue-700  hover:no-underline rounded " href="{{ $url | absURL }}">
      Θεσσαλονίκη - {{ $.Scratch.Get "counter1" }}
  </a>
</li>
  {{ else }}
   <li class="flex m-2">

  <a class="category-list-link bg-transparent hover:bg-blue text-blue-dark font-semibold hover:text-white py-2 px-4 border border-blue hover:border-transparent rounded opacity-50 cursor-not-allowed hover:no-underline" href="">
      Θεσσαλονίκη - {{ $.Scratch.Get "counter1" }}
  </a>
</li>
{{ end }}




  </ul>



<!-- CATEGORIES -->
  <ul class="filters-menu list-reset flex flex-wrap align-start mb-6">
      <div class="category-title py-2 px-4  text-3xl font-medium py-4 text-blue-700 w-full  ">Κατηγορίες</div>
    {{ range $title:=.Params.slugSubcategory }}
      {{ $subcategory := index $.Site.Data.yml.subcategories ($title) }}
      {{ if eq $subcategory.schoolscount "0" }}
      <li class="flex m-2">
        {{ $url := printf "%s/%s" "subcategories" ($title | urlize | lower)}}
        <a class="category-list-link bg-transparent hover:bg-gray-100  py-2 px-4 border border-blue hover:border-blue-700  hover:no-underline rounded " href="">
            {{ $subcategory.title }}
            <span>( {{ $subcategory.schoolscount }} )</span>
        </a>
      </li>
      {{ else }}
        <li class="flex m-2">
        {{ $url := printf "%s/%s" "subcategories" ($title | urlize | lower)}}
        <a class="category-list-link bg-transparent hover:bg-gray-100  py-2 px-4 border border-blue hover:border-blue-700  hover:no-underline rounded " href="{{ $url | absURL }}">
            {{ $subcategory.title }}
            <span>( {{ $subcategory.schoolscount }} )</span>
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>


</div>
<div class="col-xs-9 col-sm-9 col-md-9 content-column border-gray-200 border-solid border-l pt-4">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row"> 
          {{ partial "form_newschool.html" . }}
          {{ range $paginator.Pages }}
                    {{ partial "categories/results-boxes.html" . }}
          {{ end }}

        </div>
    </div>
    {{ partial "pagination.html" . }}
</div>

</div>
</div>
<script type="application/ld+json">
 <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
     "itemListElement": [
      {{ $list := $paginator.Pages }}
      {{ $len := (len $list)}}
      {{ range $index, $element := $list }}
        {
          "@type": "ListItem",
          "position": "{{$index}}",
          "url": "{{  .Permalink}}"
        }{{if eq (add $index 1) $len}}{{else}},{{end}}
      {{ end }}
      ]
    }
</script>
</script>
{{ end }}