/* your styles go here */

.content-column {
    height: 100vh;
}


#map {
    height: 380px;
}
.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-menu li {
min-width: 150px;
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 4px;
	}

/*SEARCH*/
/*.input--xlarge {
    height: auto;
    padding: 10px;
    font-size: 25px;
    line-height: 30px;
}

.form-control {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: #5d686f;
    font-weight: 300;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    transition: box-shadow .2s cubic-bezier(.4,0,.2,1),background-color .2s cubic-bezier(.4,0,.2,1);
    margin-bottom: 20px;
}*/
.fa-level-down:before {
    content: "\f149";
}

p {
    color: #323232;
}

a,
.sidebar-menu li a,
.filters-menu a {
    color: #2a2cb1;
    text-decoration: none;
}
a:hover {
    color: #2a2cb1;
    text-decoration: none;
}
.box-masonry {
    border: 1px solid rgb(223, 227, 255);
    box-shadow: none;
}
.box-masonry:hover {
    box-shadow: none;
     border: 1px solid rgb(42, 44, 177);
}
.shadow-md {
    box-shadow: none;
}

/*SIDEBAR*/
#sidebar {
    padding-top: 0px;
    border-right: 1px solid #dfe3ff;
}
.sidebar-heading {
    padding: 0;
}
/*LOGO*/
.sidebar-heading a {
    
    color: #2a2cb1;
    font-size: 2rem ;
}


/*PAGINATION*/
/* pagination */
.pagination {
  margin: 24px 0;
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  line-height: 1.55;
  text-decoration: none;
  color: #2a2cb1;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a2cb1;
    border-color: #2a2cb1;
    background-color: #f7f8ff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #2a2cb1;
    border-color: #2a2cb1;
    background-color: #f7f8ff;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}

/*SEARCH*/
.easy-autocomplete {
    border: 1px none #000;
    border-bottom: 1px solid #dfe3ff;
}
.easy-autocomplete.eac-square input {
    border-radius: 0;
    color: #2a2cb1;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    min-width: 350px;
    padding: 12px 43px 12px 15px;
    border: 1px none #000;
    box-shadow: none;   

}
#search-query {
    color: #2a2cb1;
        font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
}

/*taxonomy page title*/
.browse-hero {
    height: 30vh;
    display: flex;
    justify-content: center;
        border: 1px solid #dfe3ff;

    }
.page-title {
    display: flex;
            align-items: center;
justify-content: center;
    color: #2a2cb1;

}

/*SINGLE*/
.page-title,
a.category-list-link{
    /*font-family: 'Source Code Pro', monospace;*/
font-family: 'Open Sans', sans-serif;
/*font-family: 'Source Sans Pro', sans-serif;*/
}

/*SideBAR SINGLE*/
.tags a {
    font-family: 'Ubuntu', sans-serif;
}


/*BROWSECATEGORIES PAGE*/

a.category-list-link {
font-family: 'Open Sans', sans-serif;
}