/* your styles go here */

.content-column {
    height: 100vh;
    float: right;
    padding-top: 0;
}
.box-nasonry {
	border-radius: 0.25rem;
}

#map {
    /*height: 380px;*/
}
.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-menu li {
min-width: 150px;
    list-style-type: none;
    border: 1px solid #ccc;
    padding: 8px;
    margin: 4px;
	}

.taxonomy-filters .filters-menu li a {
    color: #555555;
}

.filters-menu li:before {
    font-family: 'FontAwesome';
    content: '\f105';
    margin: 0 5px 0 -15px;
    color: #999999;
}