{{ define "main" }}
  <main>
          {{ $citySubcategory := .Params.city  }}
          {{ $subcategory := .Params.slugSubcategory }}
          {{ $category := .Params.slugCategory }}
          
{{ partial "categories/hero-city.html" . }}


<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
            {{ range where $.Site.Pages "Section" "schools"}}
              {{ if in .Params.Cities $citySubcategory  }}
              {{ if in .Params.Subcategories $subcategory }}
                  {{ partial "categories/results-boxes.html" . }}
              {{ end }}{{ end }}
          {{ end }}
        </div>
    </div>
  </main>


  
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "ItemList",
     "itemListElement": [
      {{ $list := where $.Site.Pages "Section" "schools"}}
      {{ $len := (len $list)}}
      {{ range $index, $element := $list }}
        {
          "@type": "ListItem",
          "position": "{{$index}}",
          "url": "{{  .Permalink}}"
        }{{if eq (add $index 1) $len}}{{else}},{{end}}
      {{ end }}
      ]
    }
</script>
{{ end }}