{{ define "main" }}
  <main>
          {{ $citySubcategory := .Params.city  }}
          {{ $subcategory := .Params.slug }}

    <h1>{{ $citySubcategory }}, {{ $subcategory}}</h1>      

    <div class="grid">
        <div class="row">
            {{ range where $.Site.Pages "Section" "schools"}}
              {{ if in .Params.Cities $citySubcategory  }}
              {{ if in .Params.Subcategories $subcategory }}

              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                <div class="box-masonry shadow-md">
                     <a href="{{ .Permalink }}" title="" class="rounded box-masonry-image with-hover-overlay with-hover-icon">
                        <img class="rounded" src="/images/{{ .Params.UID }}-cover.jpg" alt="" class="img-responsive">
                      </a>
                    <div class=" bg-white rounded bpx-6 py-2">
                          <div class="font-bold text-2xl mb-2 px-6 py-4">
                            <a class="text-grey-darkest" href="{{ .Permalink }}">
                                {{ if .Params.pictureGraphApi }}<img class="rounded" src="/images/{{ .Params.UID }}-profile.jpg" alt="" class="img-responsive">
                              {{ end }}
                             {{ .Title }}
                            </a>
                          </div>
                          <div class="px-6 py-4 border-t border-grey-lightest">
                          {{ range .Params.Cities }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/categories/{{ . | urlize }}">{{ . }}</a> </span>
                          {{ end }}
                          {{ range $title, .Params.Categories }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/categories/{{ . | urlize }}">
                                  {{ $subcategory := index $.Site.Data.yml.categories ($title)}}{{ $subcategory.title }}
                            </a> </span>
                          {{ end }}
                          {{ range $title, .Params.Subcategories }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/subcategories/{{ . | urlize }}">{{ $subcategory := index $.Site.Data.yml.subcategories ($title) }}{{ $subcategory.title }}</a></span>
                          {{ end }}
                          {{ if .Params.latitudeGraphApi }}
                          <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker">Map</span>
                          {{ end }}
                          </div>
                      </div>
                  </div>
              </div>
              {{ end }}{{ end }}
          {{ end }}
        </div>
    </div>
  </main>
{{ end }}