<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item ">
<div class="box-masonry  bg-gray-200">
  <div class="text-blue-9 00 rounded px-6 py-4">Ξέρεις κάποια σχολή που δεν έχουμε στo site; Στείλτε μας το λινκ από τη σελίδα τους στο facebook</div>
  <form class="bg-yellow rounded px-6 py-4" name="contact" method="POST" netlify-honeypot="bot-field" netlify>
  	<p class="hidden">
      <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
    </p>
       <div>
      <label class="font-bold">Facebook Link:</label>
      <input class="appearance-none border rounded w-full mb-2 pb-2 px-3 text-grey-darker leading-tight focus:outline-none " type="text" name="facebook" />
    </div>
    <div data-netlify-recaptcha></div>
    <div>
   <button class="bg-blue-700 hover:bg-blue-dark text-white font-bold my-4 py-2 px-4 rounded focus:outline-none focus:shadow-outline" type=”submit”>Αποστολή</button>
    </div>
  </form>
</div>  
</div>