<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">
  <div class="sidebar-content">
    <h1 class="sidebar-heading"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
    {{ range .Site.Params.sidebarAbout }}
      <p class="sidebar-p">{{ . | safeHTML }}</p>
    {{ end }}
    <ul class="sidebar-menu">
      {{ $url := .Site.BaseURL }}
      {{ range .Site.Params.navlinks }}
        <li><a href="{{ $url }}{{ .url }}">{{ .name }}</a></li>
      {{ end }}
    </ul>

     {{ if isset .Site.Taxonomies "cities" }}
          <h1 class="sidebar-heading">City</h1>
              <ul class="sidebar-menu">

                  {{ range $name, $items := .Site.Taxonomies.cities }}
                  <li class="category-list-item">
                      {{ $url := printf "%s/%s" "cities" ($name | urlize | lower)}}
                      <a class="category-list-link" href="{{ $url | absURL }}">
                          {{ $name }}
                      </a>
                      <span class="category-list-count">{{ len $items }}</span>
                  </li>
                  {{ end }}
              </ul>
    {{ end }}

    <!--  {{ if isset .Site.Taxonomies "categories" }}
          <h1 class="sidebar-heading">Κατηγοριες</h1>
              <ul class="sidebar-menu">
                  {{ range $title, $items := .Site.Taxonomies.categories }}
                  <li class="category-list-item">
                      {{ $url := printf "%s/%s" "categories" ($title | urlize | lower)}}
                      <a class="category-list-link" href="{{ $url | absURL }}">
                          {{ $title }}
                      </a>
                      <span class="category-list-count">{{ len $items }}</span>
                  </li>
                  {{ end }}
              </ul>
    {{ end }} -->
<h1 class="sidebar-heading">Κατηγοριες</h1>
<ul>
  {{ range where .Site.Pages "Section" "categories" }}
    <li>
      <a href="/categories/{{ .Params.slugCategories}}">{{ .Title }}</a>
    </li>
  {{ end}}
</ul>

    {{ partial "social_buttons_in_sidebar.html" . }}

    <div class="copyright">
      <p class="credit">
        {{ with .Site.Params.copyright }}
          {{ . | safeHTML }}
        {{ end }}
        {{ partial "attribution.html" . }}
      </p>
    </div>
  </div>
</div>
