---
title: "{{school}}"
cities: ["{{cities}}"]
perioxi: ["{{perioxi}}"]
categoryNoSLug: "{{category}}"
subcategoriesNoSLug: ["{{ subcategory | replace(',', '","' ) | safe  }}"]
categories: ["{% if (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{slugCategories}}{% endif %}"]
subcategories: ["{% if  (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{ slugSubcategories | replace(',', '","' ) | safe  }}{% endif %}"]
orgUID: "{{organisationid}}"
organisation: "{{organisation}}"
orgurl: "{{orgurl}}"
address: "{{address}}"
logoimg: "{{logo}}"
profilePhoto : "{{profilePhoto}}"
coverPhoto : "{{coverPhoto }}"
website: "{{website | replace("http://", "") | replace("https://", "") }}"
facebook: "{{facebook | replace("https://", "") | replace("http://", "") }}"
phone: "{{phone}}"
email: "{{email}}"
courses: "{{courses}}"
places: ["{{place}}"]
rensponsibles: "{{rensponsible}}"
zipcode: ["{{zipcode}}"]
schoolsUID: "{{UID}}"
UID: "{{UID}}"
latitude: "{{latitude}}"
longitude: "{{longitude}}"
url: "{{schoolTranslit}}/{{cityTranslit}}/{% if (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{slugCategories}}{% endif %}/{% if  (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{ slugSubcategories | replace(',', '","' ) | safe  }}{% endif %}"
slug: "{{schoolTranslit}}"
aliases:
    - /{{UID}}
---


{{ about }}

{{description}}