---
title: {{schools}}

facebook:{{Org_Facebook| replace("http://", "") | replace("https://", "") }}

website:{{Org_Facebook| replace("http://", "") | replace("https://", "") }}
organisation: {{organisation}}
facebookorg:{{Org_Facebook| replace("http://", "") | replace("https://", "") }}
websiteorg:{{Org_Facebook| replace("http://", "") | replace("https://", "") }}
UID: {{schooluid}}
cities: ["{{city| replace(',', '","' ) | safe  }}"]
perioxi: "{{perioxi}}"
address: "{{address}}"

places: ["{{place| replace(',', '","' ) | safe  }}"]
categories: ["{{category| replace(',', '","' ) | safe  }}"]
subcategories: ["{{subcategory| replace(',', '","' ) | safe  }}"]
categoryNoSLug: ["{{categorynoslug| replace(',', '","' ) | safe  }}"]
subcategoriesNoSLug: ["{{subcategoriesnoslug| replace(',', '","' ) | safe  }}"]

orgUID: "{{organisation_uid}}"

url: "{{schoolTranslit}}/{{cityTranslit}}/{% if (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{slugCategories}}{% endif %}/{% if  (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{ slugSubcategories | replace(',', '","' ) | safe  }}{% endif %}"
slug: "{{schoolTranslit}}"
aliases:
    - /{{schooluid}}
---


{{ about }}

{{description}}