---
title: |
   {{school}}
cities: ["{{cities}}"]
perioxi: ["{{perioxi}}"]
categoryNoSLug: "{{category}}"
subcategoriesNoSLug: ["{{ subcategory | replace(',', '","' ) | safe  }}"]
categories: ["{% if (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{slugCategories}}{% endif %}"]
subcategories: ["{% if  (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{ slugSubcategories | replace(',', '","' ) | safe  }}{% endif %}"]
address: "{{address}}"
logoimg: "{{logo}}"
website: "{{website | replace("http://", "") | replace("https://", "") }}"
facebook: "{{facebook | replace("https://", "") | replace("http://", "") }}"
phone: "{{phone}}"
email: "{{email}}"
courses: "{{courses}}"
places: ["{{place}}"]
rensponsibles: "{{rensponsible}}"
zipcode: ["{{zipcode}}"]
UID: "{{UID}}"
latitude: "{{latitude}}"
longitude: "{{longitude}}"
url: "{{schoolTranslit}}/{{cityTranslit}}/{% if (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{slugCategories}}{% endif %}/{% if  (slugSubcategories == "#REF!") or (slugSubcategories == "#N/A") %}{% else %}{{ slugSubcategories | replace(',', '","' ) | safe  }}{% endif %}"
slug: "{{schoolTranslit}}"
aliases:
    - /{{UID}}
facebook112018link: {{facebook112018link }}
facebook112018about: {{facebook112018about }}
facebook112018checkins: {{facebook112018checkins }}
facebook112018bio: {{facebook112018bio }}
facebook112018category: {{facebook112018category }}
facebook112018category_list: {{facebook112018category_list }}
facebook112018is_owned: {{facebook112018is_owned }}
facebook112018website: {{facebook112018website }}
facebook112018picturewidth: {{facebook112018picturewidth}}
facebook112018pictureheight: {{facebook112018pictureheight }}
facebook112018pictureurl: {{facebook112018pictureurl }}
facebook112018contact_address: {{facebook112018contact_address }}
facebook112018single_line_address: {{facebook112018single_line_address }}
facebook112018city: {{facebook112018city }}
facebook112018longitude: {{facebook112018longitude }}
facebook112018latitude: {{facebook112018latitude }}
facebook112018cover: {{facebook112018cover }}
facebook112018phone: {{facebook112018phone }}
facebook112018description: {{facebook112018description }}
facebook112018emails: {{facebook112018emails }}
facebook112018name: {{facebook112018name }}
facebook112018page_token: {{facebook112018page_token }}
facebook112018place_type: {{facebook112018place_type }}
facebook112018username: {{facebook112018username }}
---

{{description}}