{{ define "main" }}
  <script src="https://unpkg.com/vue@2.3/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-instantsearch@0.2/dist/vue-instantsearch.js"></script>



	<div id="app" class="col-xs-12 col-sm-8 col-md-9 content-column">
	    {{ partial "mobile_nav_toggle.html" . }}
	    <ais-index app-id="3KQ06K58YX" api-key="80d218319a48ee3c622fd10bcebad2e1" index-name="ActiveCoala-Schools">

				    <ais-search-box placeholder="Search for a product..."></ais-search-box>
				    <ais-clear :clears-facets="false"></ais-clear>
				    <ais-stats></ais-stats>
				    <div class="filters">

					<ais-refinement-list attribute-name="subcategories"></ais-refinement-list>

<ais-clear :clears-query="false"></ais-clear>
					</div>
					<ais-results-per-page-selector :options="[20, 50, 100]"></ais-results-per-page-selector>
				      <ais-results>
				        <template scope="{{ "{ result }" }}">
				          <div class="search-result col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item box-masonry">
				            <img class="result__image img-responsive" :src="result.image">

				            <div class="result__info">
				              <h4 class="result__name">
				                <a :href="result.uri">"{{ "{{ result.title }}" }}"</a>
				              </h4>
				              <ais-highlight :result="result" attribute-name="city"/></ais-highlight>
				              <ais-highlight :result="result" attribute-name="subcategories"/></ais-highlight>

				            </div>
				          </div>
				        </template>
				      </ais-results>
				      <ais-powered-by></ais-powered-by>
<ais-pagination :padding="5"></ais-pagination>
	 </ais-index>
</div>
		<!-- <script type="text/javascript" src="/js/algolia-vue.js"></script> -->
		<script type="text/javascript">
			new Vue({
			  el: '#app',
	          data: {}
			});
		</script>
		<style type="text/css">

.filters {
	display: flex;
}
.ais-refinement-list {
	display: flex;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: auto;
  position: relative;
}

.ais-input {
  width: 100%;
  outline: none;
  font-size: 15px;
  padding: 7px;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 2px;
  margin: 20px 0;
  margin-right: 5%;
  padding-left: 40px;
}

.ais-search-box__submit,
.ais-clear {
  background: none;
  border: none;
  position: absolute;
  z-index: 30;
  top: 30px;
}

.ais-search-box__submit {
  left: 10px;
}

.ais-clear {
  right: 10px;
}

.ais-clear--disabled {
  display: none;
}



.ais-powered-by {
  float: right;
  margin-right: 10px;
}

.ais-powered-by svg {
  vertical-align: bottom;
}

.search-result {
  padding: 10px 20px 20px;
  width: 25%;
  border: solid 1px #EEE;
  box-shadow: 0 0 3px #f6f6f6;

  position: relative;
  border-radius: 3px;
  min-width: 220px;
  background: #FFF;

  display: inline;
  float: left;
  transition: all .5s;
}

.result__info {
  position: absolute;
  width: 100%;
  padding: 0px 20px 20px;
  bottom: 0;
  left: 0;
}

.result__image {
  margin-bottom: 100px;
}

.result__name {
  font-size: 14px;
  font-weight: bold;
}

.result__name mark,
.result__type mark {
  font-style: normal;
  background: rgba(143, 187, 237, .1);
  box-shadow: inset 0 -1px 0 0 rgba(69, 142, 225, .8);
}

.result__type mark {
  background: rgba(143, 187, 237, .1);
  border-radius: 0;
  box-shadow: inset 0 -1px 0 0 rgba(69, 142, 225, .8);
  margin: 0;
}

.result__price {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  bottom: 16px;
}

.result__type {
  color: #a2a2a2;
  font-size: 12px;
}

.result__rating {
  margin-top: 10px;
}

.result__star {
  width: 1em;
  height: 1em;
}

.result__star:before {
  content: '\2605';
  color: #FBAE00;
}

.result__star--empty:before {
  content: '\2606';
  color: #FBAE00;
}
		</style>
{{ end }}

