<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body class="bg-white">
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
                <div class="flex taxonomy-filters col-xs-12 col-sm-8 col-md-9 p-6 float-right"> 
                  <form action="{{ "search" | absURL }}">
                    <input id="search-query" name="s"/>
                  </form>
                   <ul class="sidebar-menu flex flex-1 justify-between">
                      {{ $url := .Site.BaseURL }}
                      {{ range .Site.Params.navlinks }}
                        <li><a href="{{ $url }}{{ .url }}">{{ .name }}</a></li>
                      {{ end }}
                    </ul>
                </div>
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}

</body>
</html>
