<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body class="bg-white">
  <div id="all">
      <div class="container-fluid">
          <div class="row row-offcanvas row-offcanvas-left">
              {{ partial "sidebar.html" . }}
                <div class="taxonomy-filters col-xs-12 col-sm-8 col-md-9 p-6 float-right"> 
                  <form action="{{ "search" | absURL }}">
                    <input id="search-query" name="s"/>
                  </form>
                </div>
              {{ block "main" . }}
              {{ end }}
          </div>
      </div>
  </div>
  {{ partial "scripts.html" . }}

</body>
</html>
