{{ define "main" }}
<h2 class="col-xs-12 col-sm-8 col-md-9 p-6">{{ .Title }}</h2>
<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
          {{ range first 40 .Data.Pages  }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                <div class="box-masonry shadow-md">
                  {{ if .Params.coverGraphApi }}
                     <a href="{{ .Permalink }}" title="" class="rounded box-masonry-image with-hover-overlay with-hover-icon">
                        <img class="rounded" src="/images/{{ .Params.UID }}-cover.jpg" alt="" class="img-responsive">
                      </a>
                      {{ else }}
                      <p>empty</p>
                      {{ end }}
                    <div class=" bg-white rounded bpx-6 py-4">
                          <div class="font-bold text-2xl mb-2 px-6 py-4">
                            <a class="text-grey-darkest" href="{{ .Permalink }}">
                            	{{ $pairs := (dict "ά" "α" "έ" "ε" "ή" "η" "ί" "ι" "ό" "ο" "ώ" "ω" "Ά" "Α" "Έ" "Ε" "Ή" "Η" "Ί" "Ι" "Ό" "Ο" "Ώ" "Ω") }}{{ $.Scratch.Set "specialTitle" .Title }}{{ range $key, $val := $pairs }}{{ $.Scratch.Set "specialTitle" (replace ($.Scratch.Get "specialTitle") $key $val) }}{{ end }}{{ $.Scratch.Get "specialTitle" }}
                            </a>
                          </div>
                          <div class="px-6 py-4">
                          {{ if .Params.Categories }}
                            {{ range .Params.Categories }}
                              <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/categories/{{ . | urlize }}">{{ . }}</a> </span>
                            {{ end }}
                          {{ end }}
                          {{ if .Params.Subcategories }}
                            {{ range .Params.Subcategories }}
                              <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/subcategories/{{ . | urlize }}">{{ . }}</a> </span>
                            {{ end }}
                          {{ end }}
                          </div>
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
{{ end }}