{{ define "main" }}
<h2 class="col-xs-12 col-sm-8 col-md-9 p-6">{{ .Title }}</h2>

{{ $paginator := (.Paginator 30) (.Data.Pages) }}
{{ partial "pagination.html" . }}

<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
        {{ range $paginator.Pages }}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
              <div class="box-masonry shadow-md">
                   <a href="{{ .Permalink }}" title="" class="rounded box-masonry-image with-hover-overlay with-hover-icon">
                      <img class="rounded" src="/images/{{ .Params.UID }}-cover.jpg" alt="" class="img-responsive">
                    </a>
                  <div class=" bg-white rounded bpx-6 py-4">
                        <div class="font-bold text-2xl mb-2 px-6 py-4">
                          <a class="text-grey-darkest" href="{{ .Permalink }}">
                          	{{ $pairs := (dict "ά" "α" "έ" "ε" "ή" "η" "ί" "ι" "ό" "ο" "ώ" "ω" "Ά" "Α" "Έ" "Ε" "Ή" "Η" "Ί" "Ι" "Ό" "Ο" "Ώ" "Ω") }}{{ $.Scratch.Set "specialTitle" .Title }}{{ range $key, $val := $pairs }}{{ $.Scratch.Set "specialTitle" (replace ($.Scratch.Get "specialTitle") $key $val) }}{{ end }}{{ $.Scratch.Get "specialTitle" }}
                          </a>
                        </div>
                        <div class="px-6 py-4">
                        {{ range .Params.cities }}
                          <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/cities/{{ . | urlize }}">{{ . }}</a> </span>
                        {{ end }}
                          {{ range $title := .Params.categories }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker">
                              <a class="text-grey-darkest" href="/categories/{{ . | urlize }}">
                                {{ $category := index $.Site.Data.yml.categories ($title) }}
                                {{ $category.title }}
                              </a>
                            </span>
                          {{ end }}
                        {{ if  .Params.subcategories }}
                          {{ range $title := .Params.subcategories }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker"><a class="text-grey-darkest" href="/subcategories/{{ . | urlize }}"> {{ $subcategory := index $.Site.Data.yml.subcategories ($title) }}{{ $subcategory.title }}</a>
                            </span>
                          {{ end }}
                        {{ end }}
                        {{ if .Params.longitude }}
                            <span class="inline-block bg-grey-lighter rounded-full px-3 py-1 text-base font-semibold text-grey-darker">map available</span>
                        {{ end }}
                        </div>

                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>
{{ end }}